---
title: Isogeny Explorer
---

{% extends "layouts/base.njk" %}

{% block content %}
	<h1>Isogeny Explorer</h1>
	<h2>Understanding isogeny-based cryptography through visualization</h2>

	<ul>
		<li><a href="/visualizations/graph.html">Supersingular isogeny graph</a></li>
		<li><a href="/visualizations/sidh.html">SIDH key exchange</a></li>
		<li><a href="/visualizations/claw.html">Claw attack (small graph)</a></li>
		<li><a href="/visualizations/claw2.html">Claw attack (larger graph)</a></li>
	</ul>

	<h2>References</h2>

	<ol>
		<li>Gora Adj et al. <i>On the Cost of Computig Isogenies Between Supersingular Elliptic Curves.</i> Cryptology ePrint Archive, Report 2018/313. <a href="https://eprint.iacr.org/2018/313" target="_blank">https://eprint.iacr.org/2018/313</a></li>

		<li>Craig Costello et al. <i>Improved Classical Cryptanalysis of the Computational Supersingular Isogeny Problem.</i> Cryptology ePrint Archive, Report 2019/298. <a href="https://eprint.iacr.org/2019/298" target="_blank">https://eprint.iacr.org/2019/298</a></li>

		<li>Luca De Feo, David Jao, Jérôme Plût. <i>Towards quantum-resistant cryptosystems from supersingular elliptic curve isogenies.</i> Cryptology ePrint Archive, Report 2011/506. <a href="https://eprint.iacr.org/2011/506" target="_blank">https://eprint.iacr.org/2011/506</a></li>
	</ol>

	<h2>About</h2>

	<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/80x15.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/InteractiveResource" property="dct:title" rel="dct:type">Isogeny Explorer: visualizing isogeny-based cryptography</span> by <span xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName">Enric Florit Zacarías</span> (<a href="https://enricflorit.com">enricflorit.com</a>) is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.

{% endblock %}