---
permalink: /about.html
title: About
---
{% extends "layouts/base.njk" %}

{% block content %}
<h1>About</h1>

<p>This Isogeny Database is still in alpha version, and further extensions and improvements will come in the near future. The code and documentation will be released shortly. Meanwhile, you can have a look at the <a href="/assets/isogeny-database-poster.pdf" target="_blank">poster</a> presented at the third <a href="https://bymat.webs.upv.es/index/" target="_blank">BYMAT conference</a> (December 1-3, 2020).</p>

<p>Our main references are the articles <i>Adventures in Supersingularland</i> (<a href="https://arxiv.org/abs/1909.07779" target="_blank">arXiv:1909.07779</a>) and <i>Towards Multicloud Access Transparency in Serverless Computing</i> (DOI <a href="https://ieeexplore.ieee.org/document/9218932" target="_blank">10.1109/MS.2020.3029994</a>). We have used <a href="https://www.sagemath.org/" target="_blank">Sagemath</a> and <a href="https://github.com/lithops-cloud/lithops/" target="_blank">Lithops</a> to generate the database.</p>

<p>This project has been created by <a href="https://enricflorit.com" target="_blank">Enric Florit</a> and Gerard Finol. All contributions are welcome.</p>

<p>This Isogeny Database is made available under the Open Data Commons Attribution License: <a href="https://opendatacommons.org/licenses/by/1-0/" target="_blank">http://opendatacommons.org/licenses/by/1.0/</a>. If you use it in your work, please make a notice available as indicated in the license, or use the following citation:</p>

<p>Enric Florit, Gerard Finol, <i>Isogeny Database</i>, <a href="https://isogenies.enricflorit.com">https://isogenies.enricflorit.com</a>, 2020, [Online; accessed &lt;access date&gt;].</p>

{% endblock %}